.nowrap { white-space: nowrap ; width: 5px;}
.imgurl { border:0; max-width:22px;}
.float-left { float:left; }
.float-right { float:right; }
.left { text-align:left; }
.right { text-align:right; }
.center { text-align:center; }
.nodisp {display:none;}
.leftspace {padding-left: .5em}
.grey {color: #999;}
.framed {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: none;
  padding: 19px;
  min-height: 20px;
}
